*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hero {
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: -moz-linear-gradient(307deg, rgba(116, 226, 250, 1) 0%, rgba(71, 78, 247, 1) 100%);

    /* safari 5.1+,chrome 10+ */
    background: -webkit-linear-gradient(307deg, rgba(116, 226, 250, 1) 0%, rgba(71, 78, 247, 1) 100%);

    /* opera 11.10+ */
    background: -o-linear-gradient(307deg, rgba(116, 226, 250, 1) 0%, rgba(71, 78, 247, 1) 100%);

    /* ie 6-9 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#74E2FA', endColorstr='#474EF7', GradientType=0);

    /* ie 10+ */
    background: -ms-linear-gradient(307deg, rgba(116, 226, 250, 1) 0%, rgba(71, 78, 247, 1) 100%);

    /* global 94%+ browsers support */
    background: linear-gradient(307deg, rgba(116, 226, 250, 1) 0%, rgba(71, 78, 247, 1) 100%);
}
.custom-shape-divider-bottom-1678361082 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;

}

.custom-shape-divider-bottom-1678361082 svg {
    position: relative;
    display: block;
    width: calc(109% + 1.3px);
    height: 136px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1678361082 .shape-fill {
    fill: #ffffff;
}
.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.header h1{
    color: white;
    font-size: 6rem;
}
.header>p{
    color: rgb(53, 53, 53);
    font-size: 2rem;
}
.myLinks{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
}
.myLinks img{
    width: 40px;
    height: 30px;
    cursor: pointer;
}
@media (max-width: 870px) {

    .header h1{
        color: white;
        font-size: 4rem;
    }
  }
  @media (max-width: 618px) {

    .header h1{
        color: white;
        font-size: 3rem;
    }
    .header>p{
        color: rgb(53, 53, 53);
        font-size: 1.5rem;
    }
  }
  @media (max-width: 440px) {

    .header h1{
        color: white;
        font-size: 2rem;
    }
    .header>p{
        color: rgb(53, 53, 53);
        font-size: 1.2rem;
    }
  }
  @media (max-width: 358px) {
    .header{
        display: grid;
        grid-auto-flow: row;
        grid-template-rows: 3fr 1fr;
        margin-top: 20px;
    
    }
    .header h1{
        color: white;
        font-size: 3rem;
    }
    .header>p{
        color: rgb(0, 0, 0);
        font-size: 1.5rem;
        font-weight: 800;
    }
  }
